{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block bodyattribs %}
class="enter-account-action"
{% endblock %}

{% block body %}
<div class = "center-content">
    <div class="auth-form-container">      
        <h1 class="centered">Welcome !</h1>

        <span style="color: red">{{ error }}</span>
        
        <form action="/" method="POST" class="data-submit">
            <input type="text" name="username" class="form-input-entry" placeholder="Username">
            
            <input type="password" name="password" class="form-input-entry" placeholder="Password">

            <div class="account-action">
                <button type="submit" class="login">Login</button>
            </div>
        </form>

        <form action="/signup" method="GET" class="data-submit">
                <button type="submit" class="signup">Create Account</button>
        </form>

    </div>
</div>
{% endblock %}